
.MainNavBar {
    padding-left: 40%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #0d0149;
}

.MainNavButton {
    color: #7e97e8;
    
    font-weight: bold;
    
    margin: 0 2rem;
    cursor: pointer;
}
