
.MAIN_HEADER {
    color: #7e97e8;
}

.MAIN_HEADER_CONTAINER {
    flex: 1;
    display: flex;

    background-color: #0d0149;
    
    padding-left: 1.6%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
}
