.MainTitle {
    font-weight: bold;
    color: var(--text-main-focus);
    padding-left: 0.8em;

    background-color: rgba(0, 0, 0, 0);
}

.Title {
    font-weight: 600;
    color: var(--text-main-focus);
    padding-left: 0.8em;

    background-color: rgba(0, 0, 0, 0);
}
